.restImage {
    width: 160;
    height: 160;
    border-radius: 100%;
}

.liCategory {
    display: inline;
}

.zippy {
    border: 1px solid #ccc;
    border-radius: 2px;
}

.zippy .zippy-title {
    padding: 20px;
    font-weight: bold;
    width: 600px;
}

.zippy .zippy-title:hover{
    background: #f0f0f0;
    cursor: pointer;
}

.zippy .zippy-content {
    padding: 20px;
}